*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container-page{
    width:1920px;
    /* width: 100%; */
}
.color222{
    color: #222222;
}
.font-fam-heavy{
    font-family: "Avenir Heavy"
}
.font-fam-medium{
    font-family: "Avenir Medium";
}
.font-size14{
    font-size: 14px;
}
.colorfff{
    color: #FFFFFF;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.justify-around{
    justify-content: space-around;
}
.aside-div{
    max-width: 319px;
    height: 1080px;
    background-color: #222222;
    flex:1;
}
.div-logo{
    margin: 42px 30px 0;
}
.logo{
    font-size: 24px;
}
.logo span{
    font-weight: bold;
}
.container-aside{
    max-width: 280px;
    padding-top: 106px ;
    padding-left: 30px;
}
.nav-li{
    margin-bottom: 20px;
    width: 250px;
}
.nav-li :hover{
    background-color: #FF2288;
    border-radius: 10px;
    transition-duration: 0.2s;
    font-size: 18px;
}
.nav-li a{
    display: inline-block;
    vertical-align: middle;
    padding: 15px 105px 15px 20px;
}
.nav-li img{
    display: inline-block;
    margin-right: 15px;
}
.size16{
    font-size:16px;
}
.uppercase{
    text-transform: uppercase;
}
.aside-bottom{
    width: 319px;
}
.aside-bottom img{
    width: 44px;
    margin-right: 21px;
}
.aside-bottom li{
    margin-top: 15px;
}
.aside-bottom h3{
    font-size:12px;
    margin-bottom: 31px;
}
.aside-bottom li :hover{
    font-size: 14px;
    transition-duration: 0.3s;
}
.aside-bottom button{
    background-color: #222222;
    border: none;
    margin-top: 19px;
    margin-bottom: 106px;
    cursor: pointer;
}
/*----main page---*/
.main-page{
    flex:3;
}
header{
    margin: 30px 25px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid rgb(235, 225, 225) ;
    padding-bottom: 30px;
}
.search-div{
    width: 446px;
    height: 56px;
    background-color: #F8F8F8;
    border-radius: 12px;
    justify-content: space-around;
    align-items: center;
}
.search-div input{
    outline: none;
    border-style: hidden;
    background-color: #F8F8F8;
    color: #111111;
    opacity: 0.5;
}
.upload{
    padding: 17px 36px;
    background-color:#FF2288 ;
    border-style: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 0 30px;
}
.header-right-div{
    align-items: center;
}
.header-right-div div{
    margin: 0 30px;
}
.header-right-div :first-child{
    color:#FF2288 ;
}
.relative{
    position: relative;
}
.header-right-div span{
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ff2288;
    border-radius: 50%;
    top: -1px;
    right: -1px;
    opacity: 1;
}
.div-person{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border:2px solid #E7E7E7;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}
.div-person:hover{
    border:2px solid #FF2288;
}
.container{
    max-width: 1231px;
    width: 100%;
    margin: 0 auto;
}
.jc-between{
    justify-content: space-between;
}
.ai-center{
    align-items: center;
}
.book-size16-color222{
    font-family: 'Avenir LT Std book';
    font-size: 16px;
    color: #222222;
}
.capitalize{
    text-transform: capitalize;
}
.list-div{
    width: 80px;
}
.witdh{
    width: 150px;
}
.list-div a{
    transition: linear;
    transition-duration: 0.2s;
}
.list-div :hover{
    background-color: #F2F2F2;
    border-radius: 12px;
    padding:16px 20px;
}
.buttom-filter-div{
    padding: 16px 27px;
    border: 1px solid #D8D8D8;
    border-radius: 12px;
}
.buttom-filter{
   border: none;
   cursor: pointer;
   background-color: #FFFFFF;
}
.vertical-align{
    vertical-align: middle;
}
.main-img-div{
    width: calc(100% / 4);
    flex-direction: column;
    align-items:center;
}
.main-img-div a{
    transition: linear;
    transition-duration: 0.5s;
}
.main-img-div h4{
    font-size: 18;
    color: #222222;
    font-family: "Avenir Medium";
    margin: 0 0 10px 25px;
}
.main-img-div :hover{
    background-color: #F8F8F8;
    border-radius: 12px;
}
.main-img-div img{
    width: 100%;
}
.load-button-div{
    justify-content: center;
    margin-top: 70px;
}
.load-button-div button{
    padding: 16px 108px;
    background-color:#D8D8D8;
    border-style: none;
    cursor: pointer;
    border-radius: 12px;
}
.load-button-div :hover{
    border:1px solid #beb8b8;
}
.icon-on-imgdiv{
    position: absolute;
    top:40px;
    left:40px;
    flex-direction: column;
    padding: 3px;
    margin-bottom: 5px;
}
.icon-on-imgdiv img{
    width: 24px;
}
.heart-icon{
    top: 80px;
}
.designer-section{
    background-color: #FAFAFA;
    margin-top: 70px;
    padding: 67px 188px 60px 180px;
}
.opacity-03{
    opacity: 0.3;
}
.personal-div{
    flex-direction:column;
    align-items: center;
    margin-top: 54px;
}
.personal-div h3{
    font-family: "Avenir Medium";
    font-size: 16px;
    color: #222222;
}
.personal-div p {
    font-family: 'Avenir LT Std book';
    font-size: 12px;
    color: #222222;
    opacity: 0.6;
    margin: 10px 0 27px;
}
.designer-section .personal-div:nth-child(5) p {
    margin-top: 34px;
}
.personal-div button{
    border:none ;
    background-color: #FAFAFA;
    width: 134px;
    border-radius: 12px;
}
.follow-div{
    width: 134px;
    height: 44px;
    border:1px solid #d1cdcd ;
    background-color: #FAFAFA;
    justify-content: center;
    cursor: pointer;
    border-radius: 12px;
    
}
.follow-div :hover{
    background-color:#d1cdcd;
}
.footer-page{
    padding: 69px 155px 117px 0;
}
.footer-page h4{
    margin-bottom: 36px;
    font-size: 16px;
    color: #222222;
}
.footer-page li{
    margin-bottom: 20px;
}
.footer-page a{
    font-family: 'Avenir LT Std book';
    font-size: 16px;
    color: #222222;
    opacity: 1;
}
.margin-top41{
    margin-top: 41px;
}
footer span{
    font-size: 16px;
    font-family: 'Avenir LT Std book';
    color: #222222;
    font-weight: bold;
}
.font-size16{
    font-size: 16px;
}
.font-avenir-book{
    font-family: 'Avenir LT Std book';
}
footer :nth-child(2) div :nth-child(2){
    margin:0 20px;
}
