*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container-page{
    max-width: 1900px;
    width: 100%;
}
.flex{
    display: flex;
}
.justify-around{
    justify-content: space-around;
}
.aside-div{
    width: 319px;
    height: 1080px;
    background-color: #222222;
    flex:1;
}
.div-logo{
    margin: 42px 30px 106px;
}
.logo{
    font-size: 24px;
    color: #FFFFFF;
}
.logo span{
    font-weight: bold;
}
.nav-li{
    transition: 0.3s ease-in all;
    margin-left:40px ;
    margin-bottom: 20px;
    width: 265px;
}
.nav-li :hover{
    background-color: #FF2288;
    border-radius: 10px;
    transition: 0.2s;
    font-size: 18px;
}
.nav-li a{
    display: inline-block;
    vertical-align: middle;
    padding: 15px 30px;
}
.nav-li img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.font-size-color{
    font-size:16px;
    font-family: "Avenir Medium";
    color: #FFFFFF;
}
.main-page{
    flex:3;
}

